@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CRaleway:400,600,700&display=swap");
.menu {
    margin-top: 3rem;
    padding-left: 0.2rem;
}

.menu-title {
    padding-left: 2rem;
}

.menu-content {
    padding: 1rem;
    margin-right: 0;
    margin-left: 0;
}

.menu-content-current {
    background: #f4f4f4 !important;
    border-left: 3px solid #49a7a2;
}

.topics-list {
    border: none;
    background-color: white;
    color: #1a1a1a;
    outline: none;
    font-weight: 600;
    font-size: 16px;
}

.disabled {
    color: #777777;
}

.checkmark {
    height: 25px;
    width: 25px;
}

.text-left-align {
    text-align: left;
}

.button {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    width: 100%;
    mix-blend-mode: normal;
    border: 2px solid #0066cc;
    border-radius: 4px;
    padding: 1rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.btn-next {
    color: #ffffff;
    background: #0066cc;
}

.btn-back {
    color: #0066cc;
    background: #ffffff;
}

.btn-disabled {
    opacity: 0.35;
}

.hr-line {
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
}

.hr-div {
    padding-left: 0;
}

.read-more {
    color: blue;
}

.row {
    padding-bottom: 1.5rem;
}


/*Title font starts*/

.title-font {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
}

.title {
    font-size: 42.4px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0001em;
    color: #1a1a1a;
}

.lesson-title {
    font-size: 20px;
    line-height: 3.5rem;
    display: flex;
    align-items: center;
    color: #ffffff;
    background: #4d4d4d;
    padding-left: 1rem;
}

.content-title {
    font-size: 36px;
    line-height: 125%;
    color: #1a1a1a;
}

.transcript-title {
    font-size: 23px;
    line-height: 160%;
    color: #000000;
}


/*Title font ends*/


/*Content font starts*/

.content-font {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}

.text-content {
    font-size: 22.4px;
    line-height: 150%;
    color: #1a1a1a;
}

.content-duration {
    font-size: 16px;
    line-height: 6%;
    display: flex;
    align-items: center;
    color: #4d4d4d;
}

.content-summary {
    font-size: 18px;
    line-height: 150%;
    color: #1a1a1a;
}

.transcript-content {
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}

.confirmation-question {
    font-weight: 600;
    font-size: 36px;
    line-height: 160%;
    color: #1a1a1a;
}

.confirmation-content {
    font-family: Open Sans;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #4d4d4d;
}

.email-desc {
    font-size: 22px;
    line-height: 150%;
    color: #1A1A1A;
}

.email-fields {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #333333;
}


/*Content font ends*/

.bottom-pad-three {
    padding-bottom: 3rem;
}

.clock-size {
    height: 25px;
    width: 30px;
}

.font-weight-sixhun {
    font-weight: 600;
}

.email-input {
    background: #FEFEFE;
    border: 1.5px solid #A3A3A3;
    box-sizing: border-box;
    border-radius: 5px;
    width: 210%;
}

.adHoc-width {
    width: 187%;
}

.btn-email-back {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #0066cc;
    background: #ffffff;
    mix-blend-mode: normal;
    border: 2px solid #0066cc;
    border-radius: 4px;
    padding: 1rem;
    margin-top: -12%;
    margin-left: -1.5%;
}

.btn-email-submit {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    background: #0066cc;
    mix-blend-mode: normal;
    border: 2px solid #0066cc;
    border-radius: 4px;
    padding: 1rem;
    margin-left: 27.3%;
}